<form method="post" action="{{ path('app_soutenance_delete', {'id': soutenance.id}) }}" onsubmit="return confirm('voulez vous vraiment supprimer cette ligne?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ soutenance.id) }}">
    <button class="btn">Supprimer</button>
</form>
