<form method="post" action="{{ path('app_enseignant_delete', {'id': enseignant.id}) }}" onsubmit="return confirm('voulez vous vraiment supprimer cette ligne?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enseignant.id) }}">
    <button class="btn">Supprimer</button>
</form>
