{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
    <h1>Ajouter Etudiant</h1>

    {{ include('etudiant/_form.html.twig') }}

    <a href="{{ path('app_etudiant_index') }}">liste etudiants</a>
{% endblock %}
